*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background:#111;
    color:#fff;
}

.hero{
    height:100vh;
    background:url('https://images.unsplash.com/photo-1585747860715-2ba37e788b70');
    background-size:cover;
    background-position:center;
}

.overlay{
    background:rgba(0,0,0,0.7);
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.overlay h1{
    font-size:4rem;
    color:#c49b63;
}

.overlay p{
    margin:20px 0;
    font-size:1.3rem;
}

.btn-agendar{
    background:#c49b63;
    padding:15px 40px;
    color:#000;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

section{
    padding:80px 10%;
    text-align:center;
}

.sobre{
    background:#1b1b1b;
}

.servicos ul {
  list-style: none;
  padding: 0;
}

.card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  max-width: 450px;
  margin: 20px auto;
  color: #fff;
}

.linha {
  height: 1px;
  background-color: #c49b63;
}


.galeria .grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:15px;
    margin-top:30px;
}

.foto{
    width: 80%;
    height: 200px;
    object-fit: cover;
    border: 2px solid #c49b63;
    border-radius: 8px;
}

.contato{
    background:#1b1b1b;
    text-align: center;
}

footer{
    background:#000;
    padding:20px;
    text-align:center;
    color:#777;
}
.btn {
  background-color: #c49b63;
  color: #000;
  padding: 14px 32px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 20px auto;
  cursor: pointer;

  transition: all 0.3s ease;
}
.btn:hover{
    background-color: #c9b190;
    transform: translateY(-2px);
}

